<div class="container">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<% if (success){ %>
				<div class="alert alert-success" role="alert">
					<p><%= success %></p>
				</div>
			<% } %>
			<% if (error){ %>
				<div class="alert alert-danger" role="alert">
					<p><%= error %></p>
				</div>
			<% } %>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>