<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>    
    <style type="text/css">
    	body{background: #e6eaed;}
    	.img-404{    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -188px;
    margin-left: -250px;}
    	.btn-back{    position: fixed;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: 190px;}
    </style>
  </head>
  <body>
  	<img class="img-404" src="/images/404.jpg"/>
  	<a href="/posts" class="btn-back">返回首页</a>
  </body>
</html>